body {
    font-family: "Noto Sans TC", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #555;
    margin-bottom: 20px;
    transform: translateX(20%);
}

h2 img{
    width: 35%;
}

h4{
    color: #555;
    font-weight: 400;
}

name{
    color: #2A77D5;
    font-weight: bold;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#successForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
}

@media screen and (max-width: 500px) {
    body {
        padding: 0px ;
    }

    form {
        padding: 10px;
        height:100vh;
        overflow-y: scroll;
    }
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

select {
    width: 50%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.name-input {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.name-input div{
    padding-right: 10px;
    width: 100%;
}

.name-input input {
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}

/* ------------------------------------- */
/* for menu button */
.container{
    position: relative;
}

h3{
    max-width: 75%;
}

#circle-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#circle-menu button#menu-toggle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 2px 10px 3px;
}

#circle-menu #menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    right: -150px;
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s, opacity 0.3s, visibility 0.3s;
}

#circle-menu.open #menu-items {
    right: 60px;
    opacity: 1;
    visibility: visible;
}

#circle-menu #menu-items li {
    margin-bottom: 10px;
    min-width: 150px;
}

#circle-menu #menu-items li a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #999;
    color: #fff;
}